{% autoescape off %}
<p>Hello,</p>

<p>You’re receiving this email because a password reset was requested for your account on <strong>Pen-Ark Schools Portal</strong>.</p>

<p>Click the link below to choose a new password:</p>

<p>
  <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    Reset your password
  </a>
</p>

<p>If you didn’t request this, you can safely ignore this message. Your password will remain unchanged.</p>

<hr>
<p style="font-size: 0.9em; color: #666;">
If clicking the link doesn’t work, copy and paste this URL into your browser:<br>
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</p>
{% endautoescape %}
